{% extends 'base.html.twig' %}

{% block title %}Connexion !{% endblock %}

{% block body %}

<main class="mx-2 mx-lg-auto col-lg-8 sk-main">

            <form class="card px-5 mt-5 shadow bg-body-tertiary rounded" method="post">

                <h1 class="my-3 fs-1 text-center text-decoration-underline">Bienvenue</h1>

                {% if error %}
                    <div class="alert alert-danger mt-3">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <label for="username">Email</label>
                <input type="email" value="{{ last_username }}" name="username" id="username" class="form-control mb-2" autocomplete="email" required autofocus>

                <label for="password">Mot de passe
                    <input type="password" name="password" id="password" class="form-control mb-2" autocomplete="current-password" required>
                    <div class="password-icon">
                        <i data-feather="eye"></i>
                        <i data-feather="eye-off"></i>
                    </div>
                </label>


                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="checkbox mb-3">
                        <label>
                            <input class="form-check-input" type="checkbox" name="_remember_me"><span class="ms-1">Rester connecté</span>
                        </label>
                    </div>


                <button type="submit" class="sk-btn w-100 my-4" >Valider</button>

                <a href="{{ path('app_forgot_password_request') }}" class="mb-0">Mot de passe oublié ?</a>

                <hr>

                <p class="text-center">ou continuer avec </p>

                <div class="d-flex justify-content-center mb-5">
                    <a href="#"><i class="fa-brands fa-facebook fa-2xl me-2"></i></a>
                    <a href="#"><i class="fa-brands fa-google fa-2xl me-2"></i></a>
                    <a href="#"><i class="fa-brands fa-github fa-2xl"></i></a>
                </div>

            </form>

</main>

    <script src="https://unpkg.com/feather-icons"></script>
    <script>feather.replace();</script>
    <script src="{{ asset('js/login.js') }}"></script>

{% endblock %}
