{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{%  block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
{% endblock %}


{% block body %}

    <main class="sk-main container d-flex justify-content-around align-items-center">

            <img class="w-50" src="{{ asset('images/register-picture.jpg') }}" alt="image personnes entrain d'apprendre">

            <section>
                <div class="card px-5 shadow bg-body-tertiary rounded">

                    <h2 class="sk-h2 my-3 fs-1 text-center text-decoration-underline">Créer votre compte</h2>

                    {{ form_start(registrationForm) }}
                    {{ form_errors(registrationForm) }}

                    <div class="d-flex flex-column">
                        {{ form_label(registrationForm.firstNameUser, 'Nom', { 'label_attr': {'class': 'form-label m-0'} } ) }}
                        {{ form_widget(registrationForm.firstNameUser, { 'attr': {'class': 'form-control mb-2'} } ) }}
                        {{ form_errors(registrationForm.firstNameUser) }}

                        {{ form_label(registrationForm.lastNameUser, 'Prénom', { 'label_attr': {'class': 'form-label m-0'} }) }}
                        {{ form_widget(registrationForm.lastNameUser, { 'attr': {'class': 'form-control mb-2'} } ) }}
                        {{ form_errors(registrationForm.lastNameUser) }}

                        {{ form_label(registrationForm.email, 'E-mail', { 'label_attr': {'class': 'form-label m-0'} }) }}
                        {{ form_widget(registrationForm.email, { 'attr': {'class': 'form-control mb-2'} } ) }}
                        {{ form_errors(registrationForm.email) }}

                        {{ form_label(registrationForm.plainPassword.first, 'Mot de passe', { 'label_attr': {'class': 'form-label m-0'} }) }}
                        {{ form_widget(registrationForm.plainPassword.first, { 'attr': {'class': 'form-control mb-2'} } ) }}
                        {{ form_errors(registrationForm.plainPassword.first) }}

                        {{ form_label(registrationForm.plainPassword.second, 'Resaisir votre mot de passe', { 'label_attr': {'class': 'form-label m-0'} }) }}
                        {{ form_widget(registrationForm.plainPassword.second, { 'attr': {'class': 'form-control mb-2'} } ) }}
                        {{ form_errors(registrationForm.plainPassword.second) }}

                        <p class=" sk-password">Doit contenir au moins 8 caractères, dont au moins 1 lettre majuscule<br> et 1 chiffre</p>

                            <div>
                                {{ form_widget(registrationForm.student, { 'attr': {'class': 'form-check-input'} } ) }}
                                {{ form_label(registrationForm.student, 'Etudiant', { 'label_attr': {'class': 'form-check-label me-5'} }) }}

                                {{ form_widget(registrationForm.teacher, { 'attr': {'class': 'form-check-input'} } ) }}
                                {{ form_label(registrationForm.teacher, 'Formateur', { 'label_attr': {'class': 'form-check-label'} }) }}
                            </div>

                    </div>

                    <div class="my-3">
                        {{ form_widget(registrationForm.agreeTerms, { 'attr': {'class': 'form-check-input'} } ) }}
                        {{ form_label(registrationForm.agreeTerms, 'Conditions d\'utilisation', { 'label_attr': {'class': 'form-check-label'} }) }}
                    </div>

                    <button type="submit" class="sk-btn w-100 mb-5">S'inscrire</button>

                    {{ form_end(registrationForm) }}

                </div>
            </section>
    </main>

    <script src="{{ asset('js/register.js') }}" defer></script>
{% endblock %}
