{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}

<main class="w-50 mx-auto sk-main">

    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="card px-5 shadow bg-body-tertiary rounded mt-5">

        <h1 class="sk-h2 mt-3 text-center text-decoration-underline">Réinitialiser votre mot de passe</h1>

            {{ form_start(requestForm) }}

            {{ form_label(requestForm.email, 'email', { 'label_attr': {'class': 'form-label m-0'} } ) }}
            {{ form_widget(requestForm.email, { 'attr': {'class': 'form-control mb-2'} } ) }}

                <div>
                    <small>
                        Entrez votre adresse e-mail, et nous vous enverrons un lien pour réinitialiser votre mot de passe.
                    </small>
                </div>
                <button type="submit" class="sk-btn w-100 my-4" >Envoyer un e-mail de réinitialisation de mot de passe</button>

            {{ form_end(requestForm) }}
    </div>

</main>

{% endblock %}
