{% macro deleteCouseWatchlist(course) %}

<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#Modal-delete-watchlist-{{ course.id }}">Ne plus suivre</button>

<!-- Modal -->
<div class="modal fade" id="Modal-delete-watchlist-{{ course.id }}" tabindex="-1" aria-labelledby="delete-course" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header sk-modal">
                <h3 class="modal-title fs-5 text-white">Confirmation</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Êtes-vous sûr(e) de vouloir supprimer ce cours de votre liste de suivis ?
            </div>
            <div class="modal-footer">
                <a href="{{ path('app_user') }}" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</a>
                <a href="{{ path('app_course_participate_remove', { id: course.id }) }}" class="text-decoration-none sk-btn">Valider</a>
            </div>
        </div>
    </div>
</div>

{% endmacro %}


{% macro deleteCourse(course) %}

    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#Modal-delete-{{ course.id }}">Supprimer</button>

    <!-- Modal -->
    <div class="modal fade" id="Modal-delete-{{ course.id }}" tabindex="-1" aria-labelledby="delete-course" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <h3 class="modal-title fs-5 text-white">Confirmation de suppression définitive</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Êtes-vous sûr(e) de vouloir supprimer définitivement ce cours ?
                </div>
                <div class="modal-footer">
                    <a href="{{ path('app_user') }}" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</a>
                    <a href="{{ path('app_course_delete', { id: course.id }) }}"  class="btn btn-danger">Valider</a>
                </div>
            </div>
        </div>
    </div>

{% endmacro %}
