{% extends 'base.html.twig' %}
{% import "macros/card.macro.twig" as cards %}


{% block title %}Liste des cours !{% endblock %}

{% block body %}

	<div class="container">
		<h1 class="text-center mt-5">LES COURS D'ODYSSEY</h1>
		<p class="text-center mb-3">Bienvenue sur l'ensemble des cours offerts par nos formateurs et formatrices</p>

		<!--Search section-->
		<div class="row align-items-center">
			<div class="col">
				{{ form_start(form) }}
				{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="col">
				<button type="submit" class="btn sk-btn">Filtrer</button>
			</div>
			{{ form_end(form) }}
			<div class="col">
				{{ render(controller('App\\Controller\\SearchController::searchBar')) }}
			</div>
		</div>


		<!--Card section-->
		<div class="row">

			{% for course in courses %}
				{% if course.status == "Validé" %}
					<div class="col-md-3 mb-5 mt-3">
						<a href="{{ path('app_course_show', {'slug': course.slug}) }}">
							<div class="card mb-6 shadow-sm">
								<img src="{{ vich_uploader_asset(course, 'imageFile') }}" class="card-img-top" style="width: 100%; height: 200px;" alt="image">
								<div class="d-flex flex-wrap mt-1">
									{% for category in course.categories %}
										<span class="badge text-bg-primary mx-2 mb-2 w-25">{{ category.name }}</span>
									{% endfor %}
								</div>
								<div class="card-body h-100">
									<h2 class="card-title">{{ course.title }}</h2>
									<h3 class="card-subtitle text-body-secondary">{{ course.getCreatedBy.firstNameUser }}</h3>
									<p class="card-text">{{ course.description }}</p>
								</div>
						</a>
								<div class="card-footer d-flex">
									{% if app.user %}
										<a href="{{ path('app_course_participate', {'slug': course.slug}) }}" class="btn sk-btn">Ajouter à ma watchlist</a>
									{% endif %}
									{% for note in notes %}
										{% if note.averageNote is not null and note.course_id == course.id %}
											<strong class="ms-3 mt-1">&ensp;Note<br>{{ note.averageNote|round(1) }}<span class="mt-1">&ensp;/ 5</span></strong>
										{% endif %}
									{% endfor %}
								</div>
							</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
</div>

{% endblock %}
