{% extends 'base.html.twig' %}
{% import "macros/card.macro.twig" as cards %}


{% block title %}Courses!{% endblock %}

{% block body %}

	<div class="container">
		<h2 class="text-center">LES COURS D'ODYSSEY</h2>
		<P class="text-center">Bienvenue sur l'ensemble des cours offerts par nos formateurs</P>
		<div style="display: flex; justify-content: space-between;">
		{{ render(controller(
			'App\\Controller\\SearchController::searchBar'
	)) }}
		</div>
		
		<div class="row align-items-center">
			{{ form_start(form) }}
			<div class="col-8">
				{{ form_widget(form.name) }}
			</div>
			<div class="col">
				<button type="submit" class="btn btn-outline-secondary">Filtrer</button>
			</div>
			{{ form_end(form) }}
		</div>



		<div class="row">

			{% for course in courses %}
				<div class="col-md-3 mb-5 mt-3">
					<a href="{{ path('app_course_show', {'id': course.id}) }}">
						<div class="card mb-6 shadow-sm">
							<img src="https://picsum.photos/200" class="card-img-top" alt="course picture">

							<div class="card-body h-100">
								<h2 class="card-title">{{ course.title }}</h2>
								<h3 class="card-subtitle text-body-secondary">{{ course.author.name }}</h3>
								<p class="card-text">{{ course.description }}</p>
							</div>
							{% if app.user %}
								<div class="card-footer">
									<a href="{{ path('app_course_participate', {'id': course.id}) }}" class="btn sk-btn">Commencer le cours</a>
								</div>
							{% endif %}
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
</div>
	{% endblock %}
