{% extends 'base.html.twig' %}

{% block title %}{{ course.title }}{% endblock %}

{% block body %}

<div class="row justify-content-center mt-4">
    <div class="col-md-8 mb-5">
        <div class="card bg-light">
            <div class="card-header text-center">
                <h5 class="card-title"><strong>{{ course.title }}</strong> </h5>
            </div>
            <div class="card-body">
                {% if course %}
					<li class="list-group-item mb-4"><strong>Formateur :</strong> {{ course.author.name }}</li>
					<li class="list-group-item"> {{ course.content }}</li>
                    <div class="d-flex">
                        <li class="list-group-item"><a href="{{ path('app_courses') }}" class="btn sk-btn mt-5 me-3">Retour à la liste des cours</a></li>
                        {% if app.user %}
                            <li class="list-group-item"><a href="{{ path('app_user') }}" class="btn btn-secondary mt-5">Mon profil</a></li>
                        {% endif %}
                    </div>
                {% else %}
                    <p>Le cours demandé n'existe pas.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}


