{% extends "base_email.html.twig" %}

{% block title %} Refus du cours {% endblock %}

{% block body %}

    <h2>Votre cours n'a pas été validé</h2>

    <p>Bonjour {{ user.firstNameUser }} {{ user.lastNameUser }},</p>

    <p>Nous regrettons de vous informer que votre cours "{{ course.title }}" n'a pas été validé pour publication sur notre plateforme.</p>

    <p>Voici quelques détails sur votre cours :</p>
    <strong>Titre du cours :</strong> {{ course.title }}<br>
    <strong>Catégories :</strong><br>
    {% for category in course.categories %}
        {{ category.name }} /
    {% endfor %}
    <br>
    <strong>Description :</strong> {{ course.description }}<br>

    <p>Nous avons examiné attentivement votre cours et, malheureusement, il ne répond pas à nos critères de qualité ou à nos standards éditoriaux. Cela peut inclure des problèmes de contenu, de structure, ou d'autres aspects qui ne sont pas conformes à nos directives.</p>

    <p>Nous vous encourageons à revoir votre cours en tenant compte de nos recommandations et à le soumettre à nouveau une fois qu'il répondra à nos critères.</p>

    <p>N'hésitez pas à nous contacter si vous avez des questions ou des besoins supplémentaires.</p>

    <p>Nous vous remercions pour votre compréhension et pour votre engagement envers la qualité de notre plateforme.</p>

    Cordialement,<br>

    L'équipe d'Odyssey

{% endblock %}
