{% extends "base_email.html.twig" %}

{% block title %} Validation du cours {% endblock %}

{% block body %}

    <h2>Votre cours est en ligne</h2>
    <p>Bonjour {{ user.firstNameUser }} {{ user.lastNameUser }},</p>
    <p>Nous sommes heureux de vous informer que votre cours "{{ course.title }}" a été examiné et validé avec succès !<br> Il est désormais disponible en ligne sur notre plateforme.</p>
    <p>Voici quelques détails sur votre cours :</p>
    <strong>Titre du cours :</strong> {{ course.title }}<br>
    <strong>Catégories :</strong><br>
    {% for category in course.categories %}
        {{ category.name }} /
    {% endfor %}
    <br>
    <strong>Description :</strong> {{ course.description }}<br>
    <p>Nous vous remercions pour votre contribution à notre plateforme et pour la qualité de votre contenu. Nous sommes convaincus que votre cours apportera une grande valeur à nos utilisateurs.</p>
    <p>N'hésitez pas à nous contacter si vous avez des questions ou des besoins supplémentaires.</p>
    <p>Encore une fois, félicitations et merci pour votre engagement envers la qualité de notre plateforme !</p>
    Cordialement,<br>

    L'équipe d'Odyssey

{% endblock %}